/* Estilo geral do menu*/
header {
    background-color:aliceblue;
    padding: 10px 0;
  }
  
  /* Oculta o checkbox visualmente*/
  .menu-toggle{
    display: none;
  }
  
  /* Ícone do menu hambúrguer */
  .menu-icon {
    display: none;
    font-size: 30px;
    color: #d15656;
    cursor: pointer;
    padding: 10px;
  }
  
  nav {
    background-color: #d15656;
    padding: 10px 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  nav ul li {
    position: relative; /* Necessário para o posicionamento do dropdown */
    margin: 0 15px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    display: block; /* Torna o link clicável em toda a área */
    transition: color 0.3s;
  }
  
  nav ul li a:hover {
    color: #000000;
  }
  
  /* Estilo do dropdown */
  nav ul li .dropdown-content {
    display: none; /* Esconde o submenu inicialmente */
    position: absolute; /* Posiciona o submenu em relação ao item pai */
    background-color: #000000;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1; /* Garante que o submenu fique acima de outros elementos */
    min-width: 160px;
    padding: 0;
  }
  
  nav ul li .dropdown-content li {
    margin: 0;
  }
  
  nav ul li .dropdown-content li a {
    padding: 10px 15px;
  }
  
  nav ul li .dropdown-content li a:hover {
    background-color:  #f4b6b6; /* Cor de fundo ao passar o mouse sobre o submenu */
  }
  
  /* Exibe o submenu ao passar o mouse sobre o item principal */
  nav ul li:hover .dropdown-content {
    display: block;
  }
  
  /* Menu hamburguer para telas menores */
  .menu-toggle {
  display: none;
  }
  
  .menu-icon {
  display: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
  padding: 10px;
  }
  
  @media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        text-align: center;
        width: 100%;
        background-color: #000000;
    }
  
    nav ul li {
        margin: 10px 0;
    }
  
    .menu-toggle:checked + .menu-icon + ul {
        display: flex;
    }
  
    .menu-icon {
        display: block;
    }
  }
  
  /* Responsividade para telas muito pequenas */
  @media (max-width: 480px) {
    nav ul li a {
        font-size: 18px;
    }
  
    .btn-login {
        font-size: 16px;
    }
  }